<h1>New Entry for <%= @place.name %></h1>

<form action="/places/<%= @place.id %>/entries" method="post">
  
  <p>
    <label for="title">Title:</label><br>
    <input type="text" name="title" id="title">
  </p>
  
  <p>
    <label for="description">Description:</label><br>
    <textarea name="description" id="description"></textarea>
  </p>
  
  <p>
    <label for="occurred_on">Date:</label><br>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>
  
  <p>
    <input type="submit" value="Create Entry">
  </p>
</form>

<p>
  <a href="/places/<%= @place.id %>">Back to <%= @place.name %></a>
</p>
