<h1>New Place</h1>

<form action="/places" method="post">
  
  <p>
    <label for="name">Place Name:</label><br>
    <input type="text" name="name" id="name">
  </p>
  
  <p>
    <input type="submit" value="Create Place">
  </p>
</form>

<p>
  <a href="/places">Back to All Places</a>
</p>

